<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="https://kit.fontawesome.com/beb8c84567.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Serv</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" asp-controller="Home" asp-action="Index">Главная страница</a>
                <a class="p-2 text-dark" asp-controller="Home" asp-action="Companies">Компании</a>
                <a id="myRecords" class="p-2 text-dark" href="#">Мои записи</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="p-2 text-dark" asp-controller="Company" asp-action="CompanyPage">Профиль компании</a>
                    <a class="p-2 text-dark" asp-controller="Company" asp-action="Records">Записи</a>
                }
            </nav>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="AddCompany">Зарегестрировать компанию</a>
                <a class="btn ml-2 btn-outline-primary" asp-controller="Account" asp-action="Login">Войти</a>
            }
            else
            {
                <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Logoff">Выйти</a>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        document.getElementById('myRecords').addEventListener('click', function (e) {
            var ids = Cookies.get('recordsIds');
            if (ids != undefined) {
                if (ids.length > 0) {
                    document.location.href = "/Home/ClientRecords/" + ids;
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
