
@{
    List<string> addresses = ViewBag.Addresses;
    ViewData["Title"] = "AddService";
}

    <form method="post" action="/register" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputName">Название</label>
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Название услуги">
        </div>
        <select id="inputAddress" name="address" class="custom-select mr-sm-2">
            @{
                foreach (string address in addresses)
                {
                    <option value="@address">@address</option>
                }
            }
        </select>
        <div class="form-group">
            <label for="inputDescription">Описание услуги</label>
            <textarea name="description" class="form-control" id="inputDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress">Цена в рублях</label>
            <input name="price" type="number" class="form-control" id="inputPrice" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputLongTime">Длительность оказания услуги (в минутах)</label>
            <input name="long_time" type="number" class="form-control" id="inputLongTime" placeholder="">
        </div>
        <h4>Временные слоты</h4>
        <div id="times">
            <div class="form-group" style="display: flex; justify-content: space-between;">
                <div class="mt-2">
                    <label>Понедельник</label>
                    <div id="timesMonday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeMonday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeMonday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Вторник</label>
                    <div id="timesTuesday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeTuesday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeTuesday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Среда</label>
                    <div id="timesWednesday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeWednesday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeWednesday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Четверг</label>
                    <div id="timesThursday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeThursday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeThursday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Пятница</label>
                    <div id="timesFriday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeFriday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeFriday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Суббота</label>
                    <div id="timesSaturday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeSaturday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeSaturday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
                <div class="mt-2">
                    <label>Воскресенье</label>
                    <div id="timesSunday">
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><button type="button" id="addTimeSunday" class="btn btn-primary col-12"><i class="fas fa-plus"></i></button></div>
                        <div class="col-6"><button type="button" id="cancelTimeSunday" class="btn btn-danger col-12"><i class="fas fa-minus"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Дата, до которой возможна запись</label>
            <div class="col-10">
                <input id="inputDate" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Отметьте нерабочие дни</label>
            <div class="col-10">
                <input type="text" id="daysOff" class="form-control date" placeholder="Отметьте нерабочие дни">
            </div>
        </div>
        <button type="submit" id="addService" class="btn btn-primary mt-3">Добавить услугу</button>
    </form>
    
<script>
    $('.date').datepicker({
        multidate: true,
        format: 'dd-mm-yyyy',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
    });
    var countTimes = new Map();
    countTimes.set("Monday", 0);
    countTimes.set("Tuesday", 0);
    countTimes.set("Wednesday", 0);
    countTimes.set("Thursday", 0);
    countTimes.set("Friday", 0);
    countTimes.set("Saturday", 0);
    countTimes.set("Sunday", 0);

    function addTimeManipulating(day)
    {
        var times = document.getElementById('times' + day);
        var cancelTimeButton = document.getElementById('cancelTime' + day);
        cancelTimeButton.addEventListener('click', function () {
            if (countTimes.get(day) > 0) {
                document.getElementById('inputTimeBlock' + day + countTimes.get(day)).remove();
                countTimes.set(day, countTimes.get(day) - 1);
            }
        });

        var addTimeButton = document.getElementById('addTime' + day);
        addTimeButton.addEventListener('click', function () {
            countTimes.set(day, countTimes.get(day) + 1);
            var div = document.createElement('div');
            div.innerHTML = '<input class="form-control mt-2" type="time" value="13:45" id="inputTime' + day + countTimes.get(day) + '">';
            div.id = "inputTimeBlock" + day + countTimes.get(day);
            times.appendChild(div);
        });
    }

    addTimeManipulating("Monday");
    addTimeManipulating("Tuesday");
    addTimeManipulating("Wednesday");
    addTimeManipulating("Thursday");
    addTimeManipulating("Friday");
    addTimeManipulating("Saturday");
    addTimeManipulating("Sunday");

    document.getElementById('addService').addEventListener('click', e => {
        e.preventDefault();
        addService();
    });

    function getTimes(day) {
        var times = [];
        for (var i = 1; i <= countTimes.get(day); i++) {
            times.push(document.getElementById("inputTime" + day + i).value);
        }
        return {
            day: day,
            times: times
        };
    }

    async function addService() {

        // получаем данные формы и фомируем объект для отправки
        const formData = new FormData();
        formData.append("name", document.getElementById("inputName").value);
        formData.append("description", document.getElementById("inputDescription").value);
        formData.append("address", document.getElementById("inputAddress").value);
        formData.append("price", document.getElementById("inputPrice").value);
        formData.append("long_time", document.getElementById("inputLongTime").value);
        formData.append("end_date", document.getElementById("inputDate").value)
        formData.append("days_off", document.getElementById("daysOff").value)

        var daysTimes = [];
        daysTimes.push(getTimes("Monday"));
        daysTimes.push(getTimes("Tuesday"));
        daysTimes.push(getTimes("Wednesday"));
        daysTimes.push(getTimes("Thursday"));
        daysTimes.push(getTimes("Friday"));
        daysTimes.push(getTimes("Saturday"));
        daysTimes.push(getTimes("Sunday"));

        var addr = {
            "daysTimes": daysTimes
        };
        formData.append("days_times", JSON.stringify(addr));


        // отправляет запрос и получаем ответ
        const response = await fetch("/Company/AddService", {
            method: "POST",
            headers: { "Accept": "application/json" },
            body: formData
        });
        // получаем данные
        const data = await response.json();

        // если запрос прошел нормально
        if (response.ok) {
            if (data.result == "success") {
                document.location.href = "/Company/CompanyPage";
            } else {
                alert("Неудачная попытка");
            }
        }
        else {
            // если произошла ошибка, из errorText получаем текст ошибки
            console.log("Error: ", response.status, data.errorText);
        }
    };
</script>