
@{
    Layout = "_Layout";
}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Каждый найдет свою услугу</h1>
        <p class="lead">Serv - агрегатор поставщиков услуг с возможностью записи по времени. Здесь компания и клиент могу найти друг-друга.</p>
        <h3 class="display-6">Как начать работать</h3>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">1</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">Создайте аккаунт</small></h1>
                <div class="card-text mt-3 mb-4">
                    Заполните форму, добавьте фотографию и войдите в аккаунт!
                </div>
                <a  class="btn btn-lg btn-block btn-outline-primary" asp-controller="Account" asp-action="AddCompany">Зарегестрироваться</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">2</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">Добавьте услугу</small></h1>
                <div class="card-text mt-3 mb-4">
                    Зайдите на страничку профиля и добавьте услгугу, которую вы предложите клинтам.
                </div>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">3</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">Начните работу</small></h1>
                <div class="card-text mt-3 mb-4">
                    Все готово! Теперь клиенты могут записываться к вам. Чтобы посмотреть записи войдите во вкладку "Записи" после авторизации
                </div>
            </div>
        </div>
    </div>